.form {
  margin: 20px;
  padding: 5%;
}

.form input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.form button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}